/* CSS code for booking.html */

/* styling for logo, Header & Dropdpwn button in it */
.navbar {
  display: flex;
  align-items: center;                      /* Align items at center */
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
}
.logo-link {
  display: inline-block;                /* Make the logo a block element */
  margin-right: 5px;
  margin-left: 25px;
  border: 1px solid black;
}
#logo {
  width: 100px;
  height: 100px;
  transform: scale(1.8);
}
.navbar h1 {
  text-align: center;
  flex-grow: 1;                       /* Allow the header to take up the remaining space */
  margin-right: 5px;
  border: 1px solid black;
  /*padding-left: 10px;               /* If want to move the header text only, move with margin will ove the entire header box */
}

/* styling for dropdown button */
/* .dropdown {
  position: relative;
  display: inline-block;
} */
.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;                      /* generate space around the text */
  font-size: 16px;
  border: none;                       /* remove icon border */
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: lightblue;          /* dropdown button colour upon hovering */
}
.dropdown-content {
  display: none;                      /* Hide the dropdown content */
  position: absolute;                 /* dropdown button won't change position upon hover */
  right: 15px;                           /* will show dropdown content just below left */
  background-color: white;       /* dropdown background color */
  min-width: 120px;                     /* dropdown content width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);       /* shadow coloring around dropdown content*/
  
}
.dropdown-content a {
  color: black;                           /* Text color for dropdown button a's */
  padding: 12px 16px;                       /* Padding for dropdown button a's */
  text-decoration: none;                    /* Remove the default underline */
  display: block;                           /* Display dropdown button a's as block elements */
}
.dropdown-content a:hover {
  background-color: lightblue;           /* Background color for dropdown button a's upon hovering */
}
/* Most Important styling for dropdown button */
.dropdown:hover .dropdown-content {         /* Show the dropdown content upon hovering */
  display: block;
}

/* Contact Us styling */
/* .contact-us-dropdown {
  position: relative;
  display: inline-block;
} */
.contact-us-dropdown-content {
  display: none;                          /* Hide the dropdown content */
  position: absolute;                     /* dropdown button won't change position upon hover */
  background-color: lightcyan;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  left: -210px;                         /* Position of Contact Us dropdown content */
  border-radius: 5px; 
}
.contact-us-dropdown:hover .contact-us-dropdown-content {
  display: block;                       /* Show the Contact Us content upon hovering */
}
.contact-info {
  padding: 10px;
}

 

/* Styling for login form container */
.booking-form-container {
  display: flex;
  flex-direction: column;           /* Stack items vertically */
  align-items: center;              /* Align items at the center */
  flex-grow: 1;                     /* Allow the container to take up the remaining space */
  background-color: white;
  color: black;
  padding: 10px;                    /* Add padding for better spacing */
  margin-top: 5px;
  border: 1px solid black;        /* Add border around the form */
}
/* Styling for form */
form {
  padding: 25px 15px 15px 15px;         /* Add padding inside the form, Top Right Bottom Left*/
  border: 1px solid black;            /* Add border around the form */
  margin: 10px;                         /* Add margin around the form */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
}
/* Styling for form groups */
.form-group {
  display: flex;                      /* Use flexbox for label-input pairs */
  justify-content: center;            /* Align items vertically in the center */
  margin-bottom: 10px;                /* Add space between form groups */
}
/* Styling for labels */
label {
  /*flex: 1 ;                           /* Fixed width for labels */
  color: black;                     /* Form label's color */
  font-size: 100%;
  margin-right: 10px;                 /* Space between label and input box*/
  width: 32px;                        /* to fix the width of the label, otherwise they won't be alligned vertically and take space upto their size */
  display: flex;
  justify-content: flex-end;          /* Center content horizontally at right side of box */
  align-items: center;                /* Center content vertically */
  /* border: 1px solid black; */
}
/* Styling for input elements */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  /*flex: 1;                        /* Input fields take up remaining space */
  width: 200px;                     /* Set the width of the input box */
  padding: 5px;
  border-radius: 5px;               /* Make the input box rounded */
  border: 1px solid black;
  box-sizing: border-box;           /* Ensure padding and border are included in the element's total width and height */
}
/* input[id="name"] {margin-top: 10px;} */
/* Remove default focus styles */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus {
  outline: none;
  box-shadow: none;
}


/* styling for Login & Singup buttons */
.button-container {
  border: 1px solid black;
  width: 50px;                 /* Set the width of the button container */
  margin: 0 auto;                     /* Center horizontally, 0 is for top & bottom and auto is for left & right margin */
  margin-top: 20px;
}
button[type="submit"] {
  width: 100%;                        /* Set the width of the button */
  padding: 5px;
  border: 1px solid #ccc;              /* Add border to the button */
  border-radius: 5px;                    /* Add border radius to the button */
  background-color: #007bff;
  color: #fff;
  cursor: pointer;                       /* Change cursor to pointer on hover */
  /*margin-right: 5px;                    /* move the button a bit right */
}
button[type="submit"]:hover {
  background-color: #0056b3;              /* Change background color on hover */
}

/* styling for flash message */
.flash-message {
  margin-top: 20px;                       /* Add margin at the top of the flash message */
  /*text-align: left;                     /* will take parent container settings and allign it to center */
  border: 1px solid black;
}






/* styling for success popup */
.success-popup {
  display: none;                      /* Hide the popup from screen utill opened */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  align-items: center;                /* Align items at center */
  text-align: center;         
  flex-direction: column;  
  width: 50%;                         /* Width of the popup */
  height: 25%;
}
.success-popup h1 {
  /*border: none;                       /* Remove the border, otherwise parent has border */
  margin-bottom: 20px;
  width: 100%;                        /* Width of the popup header, 100% of form width */
  text-align: center;
  border: 1px solid black;
  font-size: 150%;
}
.success-popup .btn-close {
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  width: 10%;                         /* Width of the button, 20% of form width */
  margin-top: 10px;
  border-radius: 5px;
  /* border: 1px solid black; */
}
.success-popup .btn-close:hover {
background-color: green
}