/* CSS code for booking.html */

/* styling for the body, to make it at centre */
body {
    text-align: center;
}


/* styling for logo, Header & Dropdpwn button in it */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  color: black;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0px;
}
.logo-link {
  display: inline-block;                /* Make the logo a block element */
  position: absolute;                   /* Position the logo */
  top: 10px;
  left: 30px;
  width: 100px;
  height: 100px;
}
#logo {
  max-width: 125%;
  max-height: 125%; 
}
.navbar h1 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 20px;
  flex-grow: 1;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: white;          /* dropdown button colour upon hovering */
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;            /* dropdown background color */
  min-width: 130px;                     /* dropdown content width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);       /* box arround dropdown content */
}
.dropdown-content a {
  color: black;                           /* Text color for dropdown button a's */
  padding: 12px 16px;                       /* Padding for dropdown button a's */
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: whitesmoke;           /* Background color for dropdown button a's upon hovering */
}
.dropdown:hover .dropdown-content {         /* Display dropdown content upon hovering */
  display: block;
}


/* Contact Us styling */
.contact-us-dropdown {
  position: relative;
  /* display: inline-block; */        /* limit Contact Us dropdown styling width */
}
.contact-us-dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  left: -200px;                         /* Position of Contact Us dropdown content */
}
.contact-us-dropdown:hover .contact-us-dropdown-content {
  display: block;
}
.contact-info {
  padding: 10px;
}
  

/* styling for form */
form {
    text-align: left;
    margin: auto;
    margin-left: 425px;                     /* to move the form a bit left */
    width: 25%;                             /* Set the width of the form */
    padding: 10px;                          /* Add padding inside the form */
    /*border: 1px solid black;              /* Add border around the form */
    /*background-color: lightgray;          /* Add background color to the form */
}
label {
    color: black;                         /* form label's color */
    font-size: 110%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select[type="text"],
input[type="date"] {
    width: 200px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;                /* to make the input box rounded */
    margin-bottom: 5px;                /* Add space between the input boxes */
}
select[type="text"] {                  /*  moving Trip box right side */
    margin-left: 15px;
}
input[type="date"] {                   /*  moving Date box right side */
    margin-left: 10px;
}
/* Remove default focus styles, which changes the box's border colour */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select[type="text"]:focus,
input[type="date"]:focus {
    outline: none;
    box-shadow: none;
}

/* styling for Login & Singup buttons */
.button-container {
    display: flex;                      /* Display the container as a flex container */
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
button[type="submit"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;             /* Add border to the button */
    border-radius: 5px;                   /* Add border radius to the button */
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;              /* Change background color on hover */
}