/* CSS code for booking.html */

/* styling for logo, Header & Dropdpwn button in it */
.navbar {
  display: flex;
  align-items: center;                      /* Align items at center */
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
}
.logo-link {
  display: inline-block;                /* Make the logo a block element */
  margin-right: 5px;
  margin-left: 25px;
  border: 1px solid black;
}
#logo {
  width: 100px;
  height: 100px;
  transform: scale(1.8);
}
.navbar h1 {
  text-align: center;
  flex-grow: 1;                       /* Allow the header to take up the remaining space */
  margin-right: 5px;
  border: 1px solid black;
  /*padding-left: 10px;               /* If want to move the header text only, move with margin will ove the entire header box */
}

/* styling for dropdown button */
/* .dropdown {
  position: relative;
  display: inline-block;
} */
.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;                      /* generate space around the text */
  font-size: 16px;
  border: none;                       /* remove icon border */
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: lightblue;          /* dropdown button colour upon hovering */
}
.dropdown-content {
  display: none;                      /* Hide the dropdown content */
  position: absolute;                 /* dropdown button won't change position upon hover */
  right: 15px;                           /* will show dropdown content just below left */
  background-color: white;       /* dropdown background color */
  min-width: 120px;                     /* dropdown content width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);       /* shadow coloring around dropdown content*/
  
}
.dropdown-content a {
  color: black;                           /* Text color for dropdown button a's */
  padding: 12px 16px;                       /* Padding for dropdown button a's */
  text-decoration: none;                    /* Remove the default underline */
  display: block;                           /* Display dropdown button a's as block elements */
}
.dropdown-content a:hover {
  background-color: lightblue;           /* Background color for dropdown button a's upon hovering */
}
/* Most Important styling for dropdown button */
.dropdown:hover .dropdown-content {         /* Show the dropdown content upon hovering */
  display: block;
}

/* Contact Us styling */
/* .contact-us-dropdown {
  position: relative;
  display: inline-block;
} */
.contact-us-dropdown-content {
  display: none;                          /* Hide the dropdown content */
  position: absolute;                     /* dropdown button won't change position upon hover */
  background-color: lightcyan;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  left: -210px;                         /* Position of Contact Us dropdown content */
  border-radius: 5px; 
}
.contact-us-dropdown:hover .contact-us-dropdown-content {
  display: block;                       /* Show the Contact Us content upon hovering */
}
.contact-info {
  padding: 10px;
}

 

/* styling for login form container*/
.booking-form-container {
  display: flex;
  flex-direction: column;                 /* Stack items vertically */
  align-items: center;                    /* Align items at centre with compact width, it can be increased in the items */
  flex-grow: 1;                           /* Allow the container to take up the remaining space */
  background-color: white;
  color: black;
  padding: 10px;                          /* Add padding for better spacing */
  margin-top: 5px;
  border: 1px solid black;              /* Add border around the form */
}
/* styling for form */
form {
    text-align: left;                     /* Align the form's contnent to the left */
    margin: auto;
    /*margin-left: 425px;                     /* to move the form a bit left */
    /*width: 25%;                             /* Set the width of the form */
    padding: 10px;                          /* Add padding inside the form */
    border: 1px solid black;              /* Add border around the form */
    /*background-color: lightgray;          /* Add background color to the form */
}
label {
    color: black;                         /* form label's color */
    font-size: 110%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select[type="text"],
input[type="date"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 5px;                /* Add space between the input boxes */
  border-radius: 5px;                /* to make the input box rounded */
  border: 1px solid black;
}
select[type="text"] {                  /*  moving Trip box right side */
    margin-left: 15px;
}
input[type="date"] {                   /*  moving Date box right side */
    margin-left: 10px;
}
/* Remove default focus styles, which changes the box's border colour */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select[type="text"]:focus,
input[type="date"]:focus {
    outline: none;
    box-shadow: none;
}

/* styling for Login & Singup buttons */
.button-container {
  display: flex;                      /* Display the button container as a flex container */
  flex-direction: column;             /* Stack buttons vertically */
  align-items: center;
  gap: 10px;                          /* Add space between the buttons */
  margin-top: 20px;
  border: 1px solid black;
  width: fit-content;                 /* Set the width of the button container */
  margin: 0 auto;                     /* Center horizontally */
  margin-top: 10px;
}
button[type="submit"] {
  /*width: 100px;                        /* Set the width of the button */
  padding: 5px;
  border: 1px solid #ccc;              /* Add border to the button */
  border-radius: 5px;                    /* Add border radius to the button */
  background-color: #007bff;
  color: #fff;
  cursor: pointer;                       /* Change cursor to pointer on hover */
  /*margin-right: 5px;                    /* move the button a bit right */
}
button[type="submit"]:hover {
  background-color: #0056b3;              /* Change background color on hover */
}

/* styling for flash message */
.flash-message {
  margin-top: 20px;                       /* Add margin at the top of the flash message */
  /*text-align: left;                     /* will take parent container settings and allign it to center */
  border: 1px solid black;
}