/* itinerary.css */

/* styling for logo, Header & Dropdpwn button in it */
.navbar {
  display: flex;
  align-items: center;                      /* Align items at center */
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
}
.logo-link {
  display: inline-block;                /* Make the logo a block element */
  margin-right: 5px;
  margin-left: 25px;
  border: 1px solid black;
}
#logo {
  width: 100px;
  height: 100px;
  transform: scale(1.8);
}
.navbar h1 {
  text-align: center;
  flex-grow: 1;                       /* Allow the header to take up the remaining space */
  margin-right: 5px;
  border: 1px solid black;
}

/* styling for dropdown button */
/* .dropdown {
  position: relative;
  display: inline-block;
} */
.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;                      /* generate space around the text */
  font-size: 16px;
  border: none;                       /* remove icon border */
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: lightblue;          /* dropdown button colour upon hovering */
}
.dropdown-content {
  display: none;                      /* Hide the dropdown content */
  position: absolute;                 /* dropdown button won't change position upon hover */
  right: 15px;                           /* will show dropdown content just below left */
  background-color: white;       /* dropdown background color */
  min-width: 120px;                     /* dropdown content width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);       /* shadow coloring around dropdown content*/
  
}
.dropdown-content a {
  color: black;                           /* Text color for dropdown button a's */
  padding: 12px 16px;                       /* Padding for dropdown button a's */
  text-decoration: none;                    /* Remove the default underline */
  display: block;                           /* Display dropdown button a's as block elements */
}
.dropdown-content a:hover {
  background-color: lightblue;           /* Background color for dropdown button a's upon hovering */
}
/* Most Important styling for dropdown button */
.dropdown:hover .dropdown-content {         /* Show the dropdown content upon hovering */
  display: block;
}


/* Contact Us styling */
/* .contact-us-dropdown {
  position: relative;
  display: inline-block;
} */
.contact-us-dropdown-content {
  display: none;                          /* Hide the dropdown content */
  position: absolute;                     /* dropdown button won't change position upon hover */
  background-color: lightcyan;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  left: -210px;                         /* Position of Contact Us dropdown content */
  border-radius: 5px; 
}
.contact-us-dropdown:hover .contact-us-dropdown-content {
  display: block;                       /* Show the Contact Us content upon hovering */
}
.contact-info {
  padding: 10px;
}


/* styling for point-container class which has itinerary details */
.itinerary-container {
  max-width: 75%;
  display: flex;                          /* Display the container as a flex container */
  align-items: center;                    /* Align items to the start of the container */
  justify-content: space-between;         /* This will add space between the text and the image */
 /*gap: 20px;                              /* Adds some space between the text and the image */
  margin-left: 170px;                         
  margin-bottom: 20px;
  border: 1px solid black;    
}
.itinerary-container img {
  max-width: 300px;               /* Set the maximum width of the image */
  margin-left: 50px;
  border-radius: 5px;           
}


/* styling for Floating Booking button at right side centre*/
.floating-button-container {
  position: fixed;                      /* Make the button fixed */
  top: 50%;                             /* Position the button at the center of the screen */
  right: 25px;                          /* Position the button at the right side of the screen */
  transform: translateY(-50%);          /* Center the button vertically */
}
.floating-button {
  width: 70px;
  height: 65px;
  background-color: #007bff;
  color: white;
  /* border: none; */
  border-radius: 50%;                                 /* Make the button a circle */          
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  text-decoration: none;                              /* Remove the default underline */
  display: flex;                                      /* Display the button as a flex container */
  align-items: center;                                /* Align items to the center vertically*/
  justify-content: center;                            /* Align items to the center horizontally */
  /* text-align: center; */
}
.floating-button:hover {
  background-color: #0056b3;
}