/* login.css */

/* styling for logo & Header */
.navbar {
  display: flex;                            /* Make the container a flex container */
  align-items: center;                      /* Align items at center */
  /*flex-direction: column;                   /* Stack items vertically, without it item will stack horizontally */
  background-color: white;
  color: black;
  padding: 10px;                            /* Add space around */
  border: 1px solid black;                /* Add border around the form */
}
.logo-link {
  display: inline-block;                  /* this allows logo to take space according to its width */
  margin-right: 5px;                      /* Add margin between logo and h1 */
  margin-left: 25px;
  border: 1px solid black;
}
#logo {
    width: 100px;
    height: 100px;
    transform: scale(1.8);          /* zoom the logo image */
}
h1 {
  text-align: center;
  flex-grow: 1;                     /* Allow the header to take up the remaining space */
  margin-right: 50px;
  border: 1px solid black;
  /*padding-left: 10px;               /* If want to move the header text only, move with margin will ove the entire header box */
}
  


.login-content {
    display: flex;                            /* Make the container a flex container */
    align-items: center;                      /* Align items at center */
    /*flex-direction: column;                   /* Stack items vertically, without it item will stack horizontally */
    background-color: white;
    color: black;
    padding: 10px;                            /* Add padding for better spacing */
    border: 1px solid black;                /* Add border around the form */
    margin-top: 20px;
  }
.login-header-form-container {
    display: flex;
    flex-direction: column;                 /* Stack items vertically, otherwise they will be stacked horizontally  */
    align-items: center;                    /* Align items at centre with compact width, it can be increased in the items */
    flex-grow: 1;                           /* Allow the container to take up the remaining space, without it this contaniner will be on left side of 'login-content' container */
    background-color: white;
    color: black;
    padding: 10px;                          /* Add padding for better spacing */
    margin-top: 5px;
    border: 1px solid black;              /* Add border around the form */
  }
/* styling for headers */
h2 {
    text-align: center;
    margin-bottom: 25px;
    border: 1px solid black;
}
/* styling for form */
form {
    text-align: center;
    margin: auto;                           /* Center the form horizontally */
    /*width: 30%;                             /* Set the width of the form */
    padding: 10px;                          /* Add padding inside the form */
    border: 1px solid black;              /* Add border around the form */
    /*background-color: lightgray;          /* Add background color to the form */
}
label {
    color: black;           /* Username & Password text color */
    font-size: 110%;
}
input[type="text"],
input[type="password"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;                /* Add space between the input boxes */
    border-radius: 5px;                /* to make the input box rounded */
    border: 1px solid black;
}
input[type="password"] {                  /*  moving Trip box right side */
    margin-left: 3px;
}
/* Remove default focus styles, which changes the box's border colour */
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: none;
}

/* styling for Login & Singup buttons */
.button-container {
    display: flex;                      /* Display the button container as a flex container */
    flex-direction: column;             /* Stack buttons vertically */
    align-items: center;
    gap: 10px;                          /* Add space between the buttons */
    margin-top: 20px;
    border: 1px solid black;
    width: fit-content;                 /* Set the width of the button container */
    margin: 0 auto;                     /* Center horizontally */
    margin-top: 10px;
}
button[type="submit"] {
    /*width: 100px;                        /* Set the width of the button */
    padding: 5px;
    border: 1px solid #ccc;              /* Add border to the button */
    border-radius: 5px;                    /* Add border radius to the button */
    background-color: #007bff;
    color: #fff;
    cursor: pointer;                       /* Change cursor to pointer on hover */
    /*margin-right: 5px;                    /* move the button a bit right */
}
button[type="submit"]:hover {
    background-color: #0056b3;              /* Change background color on hover */
}



/* styling for flash error messages */
ul {
    color: red;
    list-style-type: none;      /* Remove bullet points */
    padding: 0;
}
ul li {
    margin-bottom: 10px;         /* Adjust spacing between messages */
    font-weight: bold;          /* Make the error messages bold */
    font-size: 120%;
}


/* styling for success popup */
.login-message-popup {
    display: none;                      /* Hide the popup from screen utill opened */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    align-items: center;                /* Align items at center */
    text-align: center;         
    flex-direction: column;  
    width: 30%;                         /* Width of the popup */
    height: 20%;
}
.login-message-popup .btn-close {
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    width: 20%;                         /* Width of the button, 20% of form width */
    margin-top: 10px;
    border-radius: 5px;
    /* border: 1px solid black; */
  }
.success-popup .btn-close:hover {
  background-color: green
}