/* login.css */

/* styling for the body, to make it at centre */
body {
    text-align: center;
}

/* styling for logo & Header */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  color: black;
  padding: 0px;
}
.logo-link {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 100px;
  height: 100px;
}
#logo {
  max-width: 125%;
  max-height: 125%;
}
.navbar h1 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 20px;
  flex-grow: 1;                     /* Allow the header to take up the remaining space */
}

/* styling for headers */
h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-right: 15px;
}


/* styling for form */
form {
    text-align: left;
    margin: auto;                           /* Center the form horizontally */
    width: 30%;                             /* Set the width of the form */
    padding: 10px;                          /* Add padding inside the form */
    /*border: 1px solid black;              /* Add border around the form */
    /*background-color: lightgray;          /* Add background color to the form */
}
label {
    color: black;           /* Username & Password text color */
    font-size: 110%;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;                /* Add space between the input boxes */
    border: 1px solid black;
    border-radius: 5px;                /* to make the input box rounded */
}
input[type="password"] {                  /*  moving Trip box right side */
    margin-left: 3px;
}
/* Remove default focus styles, which changes the box's border colour */
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: none;
}

/* styling for Login & Singup buttons */
.button-container {
    display: flex;                      /* Display the container as a flex container */
    flex-direction: column;
    align-items: center;
    gap: 10px;                          /* Add space between the buttons */
    margin-top: 20px;
}
button[type="submit"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;             /* Add border to the button */
    border-radius: 5px;                   /* Add border radius to the button */
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;                    /* move the button a bit right */
}
button[type="submit"]:hover {
    background-color: #0056b3;              /* Change background color on hover */
}


/* styling for error messages */
ul {
    color: red;
    list-style-type: none;      /* Remove bullet points */
    padding: 0;
}

ul li {
    margin-bottom: 5px;         /* Adjust spacing between messages */
    font-weight: bold;          /* Make the error messages bold */
}
