/* login.css */

/* styling for logo $ Header */
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    color: black;
    padding: 0px;
  }
  
  .logo-link {
    display: inline-block;
    position: absolute; /* Add this line */
    top: 10px; /* Add this line */
    left: 30px; /* Add this line */
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
  }
  
  #logo {
    max-width: 125%; /* Add this line */
    max-height: 125%; /* Add this line */
  }
  
  .navbar h1 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
    flex-grow: 1; /* Allow the header to take up the remaining space */
  }

/* styling for headers */
h2 {
    text-align: center;
    margin-right: 50px;
    margin-bottom: 30px;
}



/* styling for form */
form {
    text-align: centre;
    margin-right: 60px;
    margin-bottom: 30px;
}

label {
    color: black;           /* Set label text color to black */
}

input[type="text"],
input[type="password"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 50px;
}

.button-container {
    display: flex;                      /* Display the container as a flex container */
    flex-direction: column;
    align-items: center;
    gap: 10px;                          /* Add space between the buttons */
    margin-top: 20px;
}

button[type="submit"] {
    width: 100px;
    padding: 3px;
    margin-bottom: 5px;
    border: 1px solid #ccc;             /* Add border to the button */
    border-radius: 5px;                   /* Add border radius to the button */
    margin-right: 50px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;          /* Add transition effect */
    margin-left: 50px;
}

button[type="submit"]:hover {
    background-color: #0056b3;              /* Change background color on hover */
}


/* styling for error messages */
ul {
    color: red;
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

ul li {
    margin-bottom: 5px; /* Adjust spacing between messages */
    font-weight: bold; /* Make the error messages bold */
}
