body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  margin-left: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 50px; /* Add margin bottom to create space */
  margin-top: 10px;
  margin-bottom: 60px;
}

.destination {
  max-width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 170px;
}


.destination img {
  max-width: 300px;
  margin-left: 50px;
  border-radius: 5px;
}
.destination .text {
  flex: 1;
}
.destination .text h2 {
  margin: 0;
}
.destination .text p {
  margin-top: 10px;
}


#manali-img {
  height: 220px; /* Adjust this height as needed */
  width: 400px;
  object-fit: cover;
}


.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.logout-button form {
  display: inline;
}
.logout-button button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.logout-button button:hover {
  background-color: #d32f2f;
}


.explore-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 50px;
}

.explore-button:hover {
  background-color: #0056b3;
}






.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: 10px;
  margin-bottom: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}