/* welcome.css */

/* styling for logo, Header & Dropdpwn button in it */
.navbar {
  display: flex;
  align-items: center;                      /* Align items at center */
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
}
.logo-link {
  display: inline-block;                /* Make the logo a block element */
  margin-right: 5px;
  margin-left: 25px;
  border: 1px solid black;
}
#logo {
  width: 100px;
  height: 100px;
  transform: scale(1.8);
}
.navbar h1 {
  text-align: center;
  flex-grow: 1;                       /* Allow the header to take up the remaining space */
  margin-right: 5px;
  border: 1px solid black;
  /*padding-left: 10px;               /* If want to move the header text only, move with margin will ove the entire header box */
}

/* styling for dropdown button */
/* .dropdown {
  position: relative;
  display: inline-block;
} */
.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;                      /* generate space around the text */
  font-size: 16px;
  border: none;                       /* remove icon border */
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: lightblue;          /* dropdown button colour upon hovering */
}
.dropdown-content {
  display: none;                      /* Hide the dropdown content */
  position: absolute;                 /* dropdown button won't change position upon hover */
  right: 15px;                           /* will show dropdown content just below left */
  background-color: white;       /* dropdown background color */
  min-width: 120px;                     /* dropdown content width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);       /* shadow coloring around dropdown content*/
  
}
.dropdown-content a {
  color: black;                           /* Text color for dropdown button a's */
  padding: 12px 16px;                       /* Padding for dropdown button a's */
  text-decoration: none;                    /* Remove the default underline */
  display: block;                           /* Display dropdown button a's as block elements */
}
.dropdown-content a:hover {
  background-color: lightblue;           /* Background color for dropdown button a's upon hovering */
}
/* Most Important styling for dropdown button */
.dropdown:hover .dropdown-content {         /* Show the dropdown content upon hovering */
  display: block;
}

/* Contact Us styling */
/* .contact-us-dropdown {
  position: relative;
  display: inline-block;
} */
.contact-us-dropdown-content {
  display: none;                          /* Hide the dropdown content */
  position: absolute;                     /* dropdown button won't change position upon hover */
  background-color: lightcyan;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  left: -210px;                         /* Position of Contact Us dropdown content */
  border-radius: 5px; 
}
.contact-us-dropdown:hover .contact-us-dropdown-content {
  display: block;                       /* Show the Contact Us content upon hovering */
}
.contact-info {
  padding: 10px;
}



/* styling for destination objects */
.destination {
  max-width: 75%;
  display: flex;                      /* Make the image and text appear side by side */
  justify-content: space-between;     /* Add space between the items, without it items will stack horizonatally and close to each other. If this is disabled then each item settings needs to updated to set the margins and 'flex-grow: 1;' if any items needs to take remaining space. */
  align-items: center;                /* Align the items at center */
  margin-bottom: 30px;
  margin-left: 170px;                 /* Move the destination objects to the right */
  border: 1px solid black;
}
.destination img {
  max-width: 300px;
  margin-left: 50px;
  border-radius: 5px;                 
}
#manali-img {
  height: 220px;                  
  width: 600px;
  margin-left: 80px;
  object-fit: cover;              /* Maintain aspect ratio */           
}

/* to make the destination class header clickable at hovering */
.text a {
  text-decoration: none;        /* Remove the default underline */
  color: inherit;               /* Inherit the color from the h2 tag */
}
.text a:hover {
  cursor: pointer;              /* Change the cursor to a hand icon when hovered */
  text-decoration: underline;   /* Underline the text when hovered */
}


/* styling for Explore button */
/* .explore-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 50px;
}

.explore-button:hover {
  background-color: #0056b3;
} */



/* footer styling */
footer {
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px solid green;
}
.footer-content {
  display: flex;
  justify-content: space-between;         /* Add space between the items, without it items will stack horizonatally and close to each other. If this is disabled then each item settings needs to updated to set the margins and 'flex-grow: 1;' if any items needs to take remaining space. */
  padding: 10px;
  border: 1px solid white;
}
.footer-find-us {
  margin-left: 75px;
  border: 1px solid green;
}
.footer-find-us h3 {                    /* For underlining the header */
  border-bottom: 2px solid;
  display: inline-block;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-social a {
  color: green;
  font-size: 200%;
}
.footer-social a:hover {
  color: greenyellow;
}
.footer-contact {
  border: 1px solid green;
}
.footer-contact h3 {
  border-bottom: 2px solid;       /* For underlining the header */
  display: inline-block;
}
.footer-contact p {
    margin: 5px;                  /* for margin btw contact data */
    margin-right: 75px;
}