/* welcome.css */

/* styling for destination objects */
.destination {
  max-width: 75%;
  display: flex;                      /* Make the image and text appear side by side */
  justify-content: space-between;     /* Add space between the image and text */
  align-items: center;                /* Align the items vertically */
  margin-bottom: 30px;
  margin-left: 170px;
}
.destination img {
  max-width: 300px;
  margin-left: 50px;
  border-radius: 5px;                 /* Add rounded corners to the image */
}
.destination .text {
  flex: 1;                            /* Allow the text to take up the remaining space */
  margin-right: 100px;
}
.destination .text h2 {
  margin: 0;                          /* Remove the default margin */
}
.destination .text p {
  margin-top: 10px;
}
#manali-img {
  height: 220px;                    /* Adjust this height as needed */
  width: 400px;
  object-fit: cover;                /* Ensure the image covers the entire box */
}   


/* to make the header clickable at hovering */
.text a {
  text-decoration: none;        /* Remove the default underline */
  color: inherit;               /* Inherit the color from the h2 tag */
}
.text a:hover {
  cursor: pointer;              /* Change the cursor to a hand icon when hovered */
  text-decoration: underline;   /* Underline the text when hovered */
}


/* styling for Explore button */
/* .explore-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 50px;
}

.explore-button:hover {
  background-color: #0056b3;
} */


/* styling for logo, Header & Dropdpwn button in it */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  color: black;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0px;
}
.logo-link {
  display: inline-block;                /* Make the logo a block element */
  position: absolute;                   /* Position the logo */
  top: 10px;
  left: 30px;
  width: 100px;
  height: 100px;
}
#logo {
  max-width: 125%;
  max-height: 125%; 
}
.navbar h1 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 20px;
  flex-grow: 1;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: white;          /* dropdown button colour upon hovering */
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;            /* dropdown background color */
  min-width: 120px;                     /* dropdown content width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);       /* box arround dropdown content */
}
.dropdown-content a {
  color: black;                           /* Text color for dropdown button a's */
  padding: 12px 16px;                       /* Padding for dropdown button a's */
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: whitesmoke;           /* Background color for dropdown button a's upon hovering */
}
.dropdown:hover .dropdown-content {         /* Display dropdown content upon hovering */
  display: block;
}


/* Contact Us styling */
.contact-us-dropdown {
  position: relative;
  /* display: inline-block; */        /* limit Contact Us dropdown styling width */
}
.contact-us-dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  left: -200px;                         /* Position of Contact Us dropdown content */
}
.contact-us-dropdown:hover .contact-us-dropdown-content {
  display: block;
}
.contact-info {
  padding: 10px;
}


/* footer styling */
footer {
    background-color: black;
    color: white;
    padding: 10px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0px;
}
.footer-find-us {
  margin-left: 75px;
}
.footer-find-us h3 {                    /* For underlining the header */
  border-bottom: 2px solid;
  display: inline-block;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-social a {
  color: green;
  font-size: 200%;
}
.footer-social a:hover {
  color: greenyellow;
}
.footer-contact h3 {
  border-bottom: 2px solid;
  display: inline-block;
}
.footer-contact p {
    margin: 5px;                  /* for margin btw contact data */
    margin-right: 75px;
}