<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking a trip</title>
    <link rel="stylesheet" href="static/booking.css">
</head>
<body>
    <!-- Navbar with Dropdown Menu -->
    <div class="navbar">
        <!-- Logo -->
        <a href="{{ url_for('welcome') }}" class="logo-link">
            <img id="logo" src="static/logo11.png" alt="Logo">
        </a>
        <!-- Header -->
        <h1>Booking a trip 😊</h1>
        <div class="dropdown">
            <button class="dropbtn">☰</button>
            <div class="dropdown-content">
                <a> {{ username }} </a>
                <a href="{{ url_for('welcome') }}">Welcome Page</a>
                <a href="{{ url_for('manage_booking') }}">My Bookings</a>
                <a href="{{ url_for('login') }}">Logout</a>
                <div class="contact-us-dropdown">
                    <a href="#" class="contact-us-link">Contact Us</a>
                    <div class="contact-us-dropdown-content">
                        <div id="contact-info" class="contact-info">
                            <p>Name: Takashi</p>
                            <p>Email: takashi.hustle@example.com</p>
                            <p>Phone: 123-456-7890</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="booking-form-container">
        <!-- form for Booking -->
        <!-- without onsubmit on the form level i.e. booking on onclick on submit button, the form will accept the null values also --> 
        <form method="post" onsubmit="booking()">
            <!-- It is a hidden field to capture the logged-in user's username -->
            <input type="hidden" id="username" name="username" value="{{ session['username'] }}">
            <!-- Required Inputs -->
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="trip">Trip:</label>
                <select id="trip" name="trip" required>
                    <option>Leh</option>
                    <option>Manali</option>
                    <option>Kedarnath</option>
                </select>
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <!-- <input type="submit" value="Book"> -->
            <div class="button-container">
                <button type="submit">Book</button>
            </div>
        </form>
    </div>


    <!-- New popup for success message -->
    <!-- This will be displayed when a trip is cancelled successfully -->
    <!-- simple button can't call route with POST method, for that JS function 'closeSuccessPopup' is used below -->  
    <!-- <div class="success-popup" id="successPopup">
        <h1 id="successMessage"></h1>
        <button type="button" class="btn-close" onclick="closeSuccessPopup()">Close</button>
    </div> -->


    <!-- JavaScript code to show congratulations message -->
    <script>

        // // This will open the success message popup, when a tip is cancelled.
        // // Once the user clicks on the close button, the page will be redirected to the booking page.
        // function closeSuccessPopup() {
        //     document.getElementById("successPopup").style.display = "none";
        //     window.location.href = "/booking";
        // }

        // Set current date as default date
        var currentDate = new Date().toISOString().split('T')[0];
        document.getElementById('date').value = currentDate;
        
        function booking() {
        // Setting the vars for the form elements
        // document.querySelector('form').addEventListener('submit', function(event) {
            
        // This means the form data is not being sent to the server.
        // i.e. the post request is not being made to the server.
        event.preventDefault();
        
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var phone = document.getElementById('phone').value;
        //var trip = document.getElementById('trip').options[document.getElementById('trip').selectedIndex].text;
        var trip = document.getElementById('trip').value
        var date = document.getElementById('date').value;
        var username = document.getElementById('username').value;
        // Create a new FormData object
        var formData = new FormData();
        formData.append('name', name);
        formData.append('email', email);
        formData.append('phone', phone);
        formData.append('trip', trip);
        formData.append('date', date);
        formData.append('username', username);
        
        // Send an AJAX request, so that the page does not reload after form submission
        // without this the page will reload and the booking message will be gone 
        fetch('/booking', {  // replace '/booking' with your actual submission URL
            method: 'POST',
            body: formData
        }).then(function(response) {
            if (response.ok) {
                
                // // will open the success message popup
                // document.getElementById("successMessage").textContent = "Congratulations 🎉, " + name + "! Your trip to " + trip + " on " + date + " has been booked. 🥳";
                // // this will make the success message popup visible, by default it is hidden
                // document.getElementById("successPopup").style.display = "block";
                //This code is to show success mesaage as port of the DIV element
                // Show the success message
                var message = "Congratulations 🎉, " + name + "! Your trip to " + trip + " on " + date + " has been booked. 🥳";
                var flashMessage = document.createElement('div');
                flashMessage.classList.add('flash-message');
                flashMessage.style.color = "green";
                flashMessage.style.fontSize = "1.5em";
                flashMessage.style.fontWeight = "bold";
                // flash message content
                flashMessage.textContent = message;
                // Remove any existing flash messages
                var existingFlashMessages = document.querySelectorAll('.flash-message');
                existingFlashMessages.forEach(function(element) {
                    element.remove();
                });
                // Append the flash message to the body
                //document.body.appendChild(flashMessage);
                // Append the flash message to the booking-form-container
                document.querySelector('.booking-form-container').appendChild(flashMessage);
            } else {
                console.error('Error:', response.statusText);
            }
        }).catch(function(error) {
            console.error('Error:', error);
        });
        // });
        }


        // Function to get query parameters from the URL i.e. location from the page it is being called
        function getQueryParams() {
            const params = {};
            window.location.search.substring(1).split("&").forEach(function(pair) {
                const [key, value] = pair.split("=");
                params[key] = decodeURIComponent(value);
            });
            return params;
        }
        // Get the location parameter from the URL
        const params = getQueryParams();
        const tripSelect = document.getElementById("trip");
        // Set the default value if location parameter exists
        if (params.location) {
            // Find the option that matches the location and set it as selected
            for (let i = 0; i < tripSelect.options.length; i++) {
                if (tripSelect.options[i].text === params.location) {
                    tripSelect.selectedIndex = i;
                    break;
                }
            }
        }
        
    </script>

    <!-- Footer for Contact Info -->
     
</body>
</html>