<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="navbar">
        <!-- Logo -->
        <a href="{{ url_for('login') }}" class="logo-link">
            <img id="logo" src="static/logo11.png" alt="Logo">
        </a>
        <!-- Header -->
        <h1>Let's get you onboarded 😊 !!!</h1>
    </div>
    <div class="login-content">
        <!-- This is test div, to test it iteams in main div can stack multiple divs-->
        <!-- <div class="test">
            <h2>Test</h2>
        </div> -->
        <!-- Logo and Header Container -->
        <div class="login-header-form-container">
            <h2>Login or Signup</h2>
            <!-- form for Login & Signup -->
            <form method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <div class="button-container">
                    <button type="submit" formaction="{{ url_for('login') }}">Login</button>
                    <button type="submit" formaction="{{ url_for('signup') }}">Signup</button>
                </div>
            </form>
            <!-- Flash messages for Errors -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
    </div>

    <!-- Popup for Success Message -->
    <!-- Flash messages for Errors -->
    <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="LoginMsgPopup" class="login-message-popup">
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
          <button type="button" class="btn-close" onclick="closeLoginMsgPopup()">Retry</button>
        </div>
      {% endif %}
    {% endwith %} -->
      
    <!-- JavaScript code -->
    <script>
        
        // //JS code to close the flash message popup
        // // Show the flash message popup if there are flash messages
        // window.onload = function() {
        //     var LoginMsgPopup = document.getElementById("LoginMsgPopup");
        //     if (LoginMsgPopup) {
        //         LoginMsgPopup.style.display = "block";
        //     }
        // }
        // // Close the flash message popup
        // function closeLoginMsgPopup() {
        //     document.getElementById('LoginMsgPopup').style.display = 'none';
        //     window.location.href = "/login";
        // }
        
        // JavaScript code to add greetings in header w.r.t time
        var today = new Date();
        var hour = today.getHours();
        var greeting;
        if (hour < 12) {
            greeting = "Good Morning";
        } else if (hour < 18) {
            greeting = "Good Afternoon";
        } else {
            greeting = "Good Evening";
        }
        document.querySelector('h1').textContent = greeting + ", Let's get you onboarded 😊 !!!";
    </script>   
     
</body>
</html>
