<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Let's get you onboarded 😊 !!!</h1>
    <div>
        <h2>Login or Sign Up</h2>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <b<div class="button-container">
                <button type="submit" formaction="{{ url_for('login') }}">Login</button>
                <button type="submit" formaction="{{ url_for('signup') }}">Sign Up</button>
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>

    <!-- JavaScript code -->
    <script>
        var today = new Date();
        var hour = today.getHours();
        var greeting;
        if (hour < 12) {
            greeting = "Good Morning";
        } else if (hour < 18) {
            greeting = "Good Afternoon";
        } else {
            greeting = "Good Evening";
        }
        document.querySelector('h1').textContent = greeting + ", Let's get you onboarded 😊 !!!";
    </script>

</body>
</html>
