<!-- HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Bookings</title>
    <link rel="stylesheet" href="static/manage_bookings.css">
</head>
<body>
    <!-- Navbar with Dropdown Menu -->
    <div class="navbar">
        <!-- Logo -->
        <a href="{{ url_for('welcome') }}" class="logo-link">
            <img id="logo" src="static/logo11.png" alt="Logo">
        </a>
        <!-- Header -->
        <h1>Manage your bookings</h1>
        <div class="dropdown">
            <!-- <button class="dropbtn">☰</button> -->
            <button class="dropbtn" onclick="openDropdownButtonContent()">☰</button>
            <div id="dropdown-content" class="dropdown-content">
                <a>{{ username }}</a>
                <a href="{{ url_for('welcome') }}">Welcome Page</a>
                <a href="{{ url_for('login') }}">Logout</a>
                <div class="contact-us-dropdown">
                    <a href="#" class="contact-us-link">Contact Us</a>
                    <div class="contact-us-dropdown-content">
                        <div id="contact-info" class="contact-info">
                            <p>Name: Takashi</p>
                            <p>Email: takashi.hustle@example.com</p>
                            <p>Phone: 123-456-7890</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="booking-details">
        <h2>Booking Details</h2>
        <table>
            <tr>
                <th>Booking ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Trip</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.booking_id }}</td>
                    <td>{{ booking.name }}</td>
                    <td>{{ booking.email }}</td>
                    <td>{{ booking.phone }}</td>
                    <td>{{ booking.trip }}</td>
                    <td>{{ booking.date }}</td>
                    <td>
                        <!-- Simple button can't call route with POST method -->
                        <!-- this form with button will delete the booking on click --> 
                        <!-- <form action="{{ url_for('cancel_booking') }}" method="post">
                            <input type="hidden" name="booking_id" value="{{ booking.booking_id }}">
                            <button type="submit">Cancel</button>
                        </form> -->

                        <!-- Button to open the form for cancelling the trip -->
                        <!-- Need to create a unique popupForm element for each row, and set the booking_id value accordingly. -->
                        <!-- The popupForm element now has a unique ID based on the booking_id: popupForm_{{ booking.booking_id }} --> 
                        <button class="cancle-button" onclick="openForm('popupForm_{{ booking.booking_id }}')">Cancel</button>
                        <div class="form-popup" id="popupForm_{{ booking.booking_id }}">
                            <form action="{{ url_for('cancel_booking') }}" method="post" class="form-container">
                              <h1>Are you sure 🤔 ?</h1>                          
                              <input type="hidden" name="booking_id" value="{{ booking.booking_id }}">
                              <button type="submit" class="btn" onclick="cancleBooking('{{ booking.booking_id }}')">Yes</button>
                              <button type="button" class="btn-no" onclick="closeForm('popupForm_{{ booking.booking_id }}')">No</button>
                            </form>
                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <!-- colspan 6 to span the entire row's 6 columns -->
                    <td colspan="6">No bookings found.</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- New popup for success message -->
    <!-- This will be displayed when a trip is cancelled successfully -->
    <!-- simple button can't call route with POST method, for that JS function 'closeSuccessPopup' is used below -->  
    <div class="success-popup" id="successPopup">
        <h1 id="successMessage"></h1>
        <button type="button" class="btn-close" onclick="closeSuccessPopup()">Close</button>
    </div>


    <!-- JavaScript code -->
    <script>
        // This functionality will open the dropdown content upon clicking on dropdown button, before it was using hover functionalilty. to diable that commented the display setting of '.dropdown:hover .dropdown-content' in css file
        // Show & Hide the dropdown content on clicking dropdown button
        function openDropdownButtonContent() {
            var dropdownContent = document.getElementById("dropdown-content");
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdownContent = document.getElementById("dropdown-content");
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                }
            }
        }

        // JavaScript code to open and close the form on clicking cancle button with unique popupForm ID
        function openForm(formId) {
            document.getElementById(formId).style.display = "block";
        }
        // get the booking id of the clicked cancel button i.e of particular row
        // document.querySelectorAll('.cancle-button').forEach(function(button) {
        //     button.addEventListener('click', function() {
        //         var bookingId = this.getAttribute('data-booking-id');
        //         openForm('popupForm_' + bookingId);
        //     });
        // });
        // JS code to close the cancle form
        function closeForm(formId) {
            document.getElementById(formId).style.display = "none";
        }

        // This will open the success message popup, when a tip is cancelled.
        // Once the user clicks on the close button, the page will be redirected to the manage_booking page.
        function closeSuccessPopup() {
            document.getElementById("successPopup").style.display = "none";
            window.location.href = "/manage_booking";
        }

        // JavaScript code to send a POST request to '/cancel_booking' route
        // Sending using JS although we can use form submit as well but it will redirect to the '/manage_booking' page. We want to avoid that and open a new success message popup.
        // When success message popup is closed, the page will be redirected to the '/manage_booking' page and trip data will be refreshed as well.
        
        // Using submit event listener to each '.form-container' element
        // Inside the submit event listener, we're getting the booking_id value from the input field within the same form container, and using it to send the POST request to the server.
        function cancleBooking(bookingId) {
        // document.querySelectorAll('.form-container').forEach(function(form) {
        //     form.addEventListener('submit', function(event) {
                event.preventDefault();
                // var bookingId = this.querySelector('input[name="booking_id"]').value;
                var formData = new FormData();
                formData.append('booking_id', bookingId);
            
                fetch('/cancel_booking', {
                    method: 'POST',
                    body: formData
                }).then(function(response) {
                    if (response.ok) {
                        closeForm('popupForm_' + bookingId);
                        document.getElementById("successMessage").textContent = 'Trip has been cancelled 😭';
                        document.getElementById("successPopup").style.display = "block";
                    } else {
                        console.error('Error:', response.statusText);
                    }
                }).catch(function(error) {
                    console.error('Error:', error);
                });
        //     });
        // });
        }
    </script>

</body>
</html>